.title {
    width: 100%;
    padding: 2rem;
    max-height: 2rem;
    background: var(--bg-secondary);
    font-family: var(--titleFont);
    color: var(--text-primary);
    border-radius: var(--radius);
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
