.base {
    position: relative;
    width: 100%;
    height: 100%;
    background: var(--bg-primary);
    // display: flex;
    // flex-direction: column;
    // justify-content: flex-start;
    display: grid;
    grid-template-rows: min-content auto;
    grid-template-columns: repeat(1, 1fr);
    gap: var(--spacing);
    padding: var(--spacing);
    font-family: var(--titleFont);

    & app-forms{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        height: 100%;
    }

    & app-header {
        width: 100%;
    }

    & .mainContainer {
        width: 100%;
        height: 100%;
        background-color: var(--bg-secondary);
        display: grid;
        grid-template-rows: repeat(1, 1fr);
        grid-template-columns: min-content auto;
        gap: var(--spacing);
        border-radius: var(--radius);

        & .tasksArea {
            width: 100%;
            height: 100%;
            background: var(--bg-secondary);
            display: grid;
            grid-template-rows: repeat(1, 1fr);
            grid-template-columns: repeat(3, 1fr);
            gap: var(--spacing);
            padding: var(--spacing); //not sure about that, makes it too wide?!

            & > .tasksCol {
                width: 100%;
                height: 100%;
                display: grid;
                grid-template-rows: min-content auto;
                grid-template-columns: repeat(1, 1fr);
                gap: var(--spacing);
                border-radius: var(--radius);
                // padding: var(--spacing);
                background: var(--bg-quaternary);

                &:nth-child(1) {
                    & .tasktitle {
                        border-bottom: 4px solid var(--info);
                    }
                }
                &:nth-child(2) {
                    & .tasktitle {
                        border-bottom: 4px solid var(--warning);
                    }
                }
                &:nth-child(3) {
                    & .tasktitle {
                        border-bottom: 4px solid var(--success);
                    }
                }

                & .tasktitle {
                    width: 100%;
                    height: 3rem;
                    background: var(--bg-quaternary);
                    color: var(--text-primary);
                    font-size: 1.7rem;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-top-left-radius: var(--radius);
                    border-top-right-radius: var(--radius);
                    padding: var(--spacing);
                }

                & .tasksList {
                    width: 100%;
                    height: 100%;
                    background: var(--bg-quaternary);
                    padding: 1rem;
                    gap: var(--spacing);
                    border-radius: var(--radius);
                    display: grid;
                    align-content: start;
                    overflow-y: auto;
                    grid-auto-rows: min-content;
                }
            }
        }
    }
}
