<div class="mainContainer">
    <div class="projectsList">
        @for (project of taskingService.projectsData(); track project.projectID) {
            <app-project [project]="project" (click)=" this.taskingService.selectProject(project.projectID)"></app-project>
        }
    </div>
    <div class="functionalityArea">
        <button (click)="onAddProjectClicked()">ADD PROJECT</button>
        <button (click)="onCreateTaskClicked()" [disabled]="taskingService.shouldDisable()">ADD TASK</button>
    </div>
</div>
